<!DOCTYPE html>
<html>
<head>
  <title>HappyHouse</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
	<a class="nav navbar-brand" href="#">
	<img src="/assets/house_brand-4e239d65af1c2e3f608d7a05f94217e0.jpg" alt="House brand" style="width: 50px;">
    </a>	
    <div class="navbar navbar-center navbar-brand" style="color: white;"> <h3> HAPPY HOUSE </h3>
    </div>
    <div class="navbar navbar-right">
    <a href="#">Login</a>
    <a href="#" style="margin-right: 20px; margin-left: 20px;">Shopping Cart</a> 
  	</div>
</nav>
<div class="container-fluid">
  <%= yield %>
<div>
</body>
</html>
